**

!Cargo.toml
!Cargo.lock
!build.rs
!download_models.sh
!Dockerfile
!compose.yaml
!docker/
!docker/**
!src/
!src/**
!rustus/
!rustus/**
!face-normalizer/
!face-normalizer/**
!web-photos/
!web-photos/**
!models/
!models/oiv7_classes.txt

rustus/target
face-normalizer/models
face-normalizer/target
web-photos/.next
web-photos/.env
web-photos/.env.*
web-photos/node_modules
web-photos/out
web-photos/*.tgz
